.header {
  margin: 20px 0;
  height: 100px;
}
.header #logo {
  height: 100px;
  width: 100px;
  float: right;
  box-shadow: 0px 0px 8px;
}
.header h2 {
  padding-top: 40px;
  padding-right: 120px;
}
#object-browser {
  display: none;
}
#loading {
  background: url(images/loading.gif) no-repeat center right;
  width: 180px;
  margin: 0 auto;
  padding: 5px 32px;
}
.branch {
  display: inline-block;
  margin-left: 30px;
}
.branch span {
  margin-left: 2px;
}
.table {
  font-size: 18px;
}
.table th,
.table td {
  text-align: right;
}
.form-search .input-prepend button {
  height: 30px;
  padding-top: 2px;
}
.form-search .input-prepend input,
.form-search .input-prepend button {
  font-size: 17px;
}
td.book {
  background: url(images/book.png) no-repeat center center;
}
td.cd {
  background: url(images/cd.png) no-repeat center center;
}
