.popover {
  text-align: right;
}
.popover .popover-title {
  font-weight: bold;
  font-size: 15px;
}
.popover .popover-content {
  text-align: justify;
}
h2 {
  margin-bottom: 5px;
}
em {
  color: #B0B0D8;
  font-weight: bold;
  font-size: 15px;
  font-style: normal;
}
p.centered {
  text-align: center;
}
#oo {
  margin: 10px;
  text-align: center;
}
#logo {
  height: 200px;
  margin: 20px auto;
  display: block;
}
#agha {
  padding: 5px 0 20px;
  text-shadow: 0 1px 1px #aaa;
}
p.stats {
  text-align: center;
}
#kharazi img {
  float: right;
}
#kharazi h2 {
  padding: 50px 110px 10px;
}
.table {
  width: 450px;
}
.table th,
.table td {
  text-align: center;
  min-width: 50px;
}
.figure {
  margin: 50px auto;
  -webkit-box-shadow: 0px 0px 7px #cccccc;
  -moz-box-shadow: 0px 0px 7px #cccccc;
  box-shadow: 0px 0px 7px #cccccc;
}
img.figure {
  display: block;
}
table.figure {
  background-color: white;
}
.caption {
  text-align: center;
  margin: -50px 0 40px;
}
.caption span {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px #cccccc;
  -moz-box-shadow: 0px 0px 7px #cccccc;
  box-shadow: 0px 0px 7px #cccccc;
  padding: 3px 5px;
  color: #049cdb;
}
.carousel {
  width: 600px;
}
.thumbnails {
  margin-top: 20px;
  margin-left: 30px;
}
.modal h3 {
  font-size: 22px;
}
.modal .modal-body {
  min-height: 500px;
  overflow-x: hidden;
}
#news {
  height: 80px;
}
#news .span3 {
  text-align: center;
  height: 50px;
  padding: 15px 0 5px;
}
#news .span3.vert {
  height: 70px;
  padding: 0;
}
#news img {
  -webkit-box-shadow: 0px 0px 7px #333333;
  -moz-box-shadow: 0px 0px 7px #333333;
  box-shadow: 0px 0px 7px #333333;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#news img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#download {
  font-size: 18px;
  line-height: 22px;
}
.number {
  direction: ltr;
  display: inline-block;
}
.points {
  margin-bottom: 20px;
}
.points li {
  margin-top: 5px;
}
.points li.desc {
  list-style: none;
  margin-right: 20px;
  color: #888;
}
#copyright {
  text-align: center;
  margin-top: -18px;
  color: #aaa;
  font-size: 17px;
}
#copyright a {
  font-size: 18px;
}
